@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Radio+Canada&family=Water+Brush&display=swap');
//variables
$color-one:gold;
$color-two:#fff;


$font-family-one:'Radio Canada', sans-serif;
$font-family-two:'Water Brush', cursive;
$font-family-three:'Noto Serif', serif;
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: $font-family-one;
}
a{
    text-decoration: none;
    
}
h3{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    // padding-top:80px;
    margin: 0;
}
p{
    text-align: center;
    font-size: 18px;
    color: gray;
    margin: 0;
}
h4{
    font-size: 25px;
    text-align: center;
}
section{
    padding: 60px 0;
}
// NAVIGATION
.navigation {
    height: 10vh;
    width: 100%;
    padding: 3vh 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    float: right;
    li {
        display: inline-block;
        // margin:10px;
    }
    a {
        font-size: 20px;
        color: $color-two;
        &:hover{
            color:$color-one;
        }
    }
}
.logo-link {
    color: $color-one;
    text-decoration: none;
    font-size: 40px;
    font-family: $font-family-two;

}

//HEADER

header {
    background:url('https://images.pexels.com/photos/3412313/pexels-photo-3412313.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center/cover no-repeat;
    height: 100vh;
    width: 100%;
    
}
.btn-header {
    background-color: $color-one;
    display: inline-block;
    min-width:280px;
    margin: 24px auto 0 auto;
    padding: 30px;
    color: $color-two;
    font-size: 26px;
    font-weight: bold;
    &:hover{
        background-color: $color-two;
        color: $color-one;
        transition: 1s;
    }
}
.splash-inner{
    text-align: center;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-20%);
    h1{
        font-size: 80px;
        color: $color-two;
        margin: 20px;
    }
    h2{
        font-size: 30px;
        color: $color-two;
        font-family: $font-family-three;
        font-weight: 500;
        margin: 0;
    }
}
// SERVICES

.services{
    min-height: 60vh;
}

.box{
    text-align: center;
    margin:50px 20px;
    i{
        border: 4px solid $color-one;
        color: $color-one;
        font-size: 45px;
        padding: 15px;
        border-radius: 50%;
    }
}


//PORTFOLIO
.portfolio{
    background-color: rgb(245, 243, 243);
    min-height: 120vh;
}
.card{
    background-color: #fff;
    margin-top: 50px;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.card-body{
    padding:20px 0;
    p{
        margin: 0;
    }
    h4{
        margin: 0;
    }
}
//footer
footer{
    // padding-top: 40px;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}
.footer-list{
    list-style: none;
    li{
        display: inline-block;
        font-size: 0;
    }
    i{
        font-size: 20px;
        height: 40px;
        width: 40px;
        color: $color-two;
        background-color: black;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
    }
}

//media


@media (max-width: 1300px) {
    .splash-inner{
        h2{
            font-size: 30px;
        }
        h1 {
            font-size: 60px;
        }
    }
    h3{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        padding: 10px;
    }
    .btn-header{
        min-width:190px;
        padding: 20px;
        font-size: 18px;
    }
    .navigation-list {
        width: 60%;
        li{
            height: 50%;
            margin: 2px;
        }
        a {
            font-size: 18px;
            font-weight: bold;
        }
    }
    .logo-link {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    .splash-inner{
        h2{
            font-size: 20px;
        }
        h1 {
            font-size: 40px;
        }
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 16px;
        padding: 10px;
    }
    .btn-header{
        min-width:140px;
        padding: 20px;
        font-size: 16px;
    }
    .navigation-list {
        width: 90%;
        li{
            height: 50%;
            margin: 2px;
        }
        a {
            font-size: 14px;
            font-weight: bold;
            color: black;
        }
    }
    .logo-link {
        font-size: 20px;
    }
}